<section ng-controller="MovieListController">
	<!--<input ng-model="title" name="title" />-->
	<div class="filter-genres">
		<a ng-click="selectGenre()" class="genre">All</a>
		<a ng-click="selectGenre(genre)" class="genre" ng-repeat="genre in genres" ng-class="getAtiveClass(genre)">{{genre}}</a>
	</div>
	<div class="movie" ng-repeat="data in movieList | filter: genreFilter" ng-animate="'animate'">
		<a href="#/movie/{{data.subject.id}}">
			<div class="movie_poster float_left">
				<img ng-src="{{data.subject.images.large || '../imgs/movie.png'}}"/>
			</div>
			<div class="movie_content float_left">
				<h3 class="movie_title">{{data.subject.original_title}}</h3>
				
				<p>{{data.subject.year}}</p>
				
				<p class="box">{{data.box | currency}}</p>
			</div>
			<div class="clearfix"></div>
		</a>
	</div>
</section>

