
body{
	background-color:#dcc19a;
	font-family:"微软雅黑";
}

input{
	-webkit-appearance:none;
	outline:none;
	border-radius:0;
	-webkit-tap-highlight-color:rgba(255,255,255,0);
}

div{
	-webkit-tap-highlight-color:rgba(255,255,255,0);
}


a{
	color: #525252;
	-webkit-tap-highlight-color:rgba(255,255,255,0);
}

header{
	position:fixed;
	z-index:20;
	height:65px;
	top:0;
	left: 0;
	right:0;
	background-color:#FAFBFB;
	border-bottom:1px solid #CCCCCC;
}

header div:nth-child(1){
	position: absolute;
	top:10px;
	left:3px;
	right: 50px;
	height:40px;
}

#search_input{
	padding-left: 5px;
	height:36px;
	width: 100%;
	border:1px solid #DDDDDD;
	outline:none;
	outline-style: none;
	font-size:15px;
	font-family:'georgia',  "微软雅黑";
	-webkit-tap-highlight-color:rgba(255,255,255,0);
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}

header div:nth-child(2){
	position: absolute;
	top:10px;
	right:3px;
	width:50px;
	height:40px;
}
#search_btn{
	width:50px;
	height:36px;
	line-height:36px;
	text-align:center;
	background-color:#0091FF;
	border-left:0;
	border:1px solid #0091FF;
	cursor:pointer;
	outline:none;
	font-size:15px;
	color:#FFF;
}

section {
	margin-top: 100px;
}

footer{
	position:fixed;
	bottom: 0;
	left:0;
	right:0;
	height:40px;
	line-height:40px;
	text-align:center;
	/*color:#2BB2A3;*/
	color: #FFF;
	border-top: 1px solid #DDD8CE;
	/*background-color:#F0EFED;*/
	background-color: #000;
}

footer a{
	cursor: pointer;
	color: #FFF;
}

footer a:nth-child(1){
	width: 33%;
	float: left;
}

footer a:nth-child(2){
	width: 33%;
	float: left;
}

footer a:nth-child(3){
	width: 33%;
	float: right;
}

.list_item{
	margin-top:5px;
	height:150px;
	border-bottom: 1px solid #E6E6E6;
	background-color: #FFF;
	min-width:290px;
}

section .list_item:last-child{
	border-bottom: none;
}

.list_img{
	width:104px;
	height: 144px;
	text-align:center;
}

.list_content{
	width:130px;
	height: 144px;
}
.list_other{
	width:50px;
	height: 144px;
	color: #8F8F8F;
}

.list_bookname{
	font-size:14px;
	line-height:20px;
	margin-left:10px;
	width:120px;
	height:40px;
}

.list_author{
	color:#666666;
	margin-left:10px;
	line-height:17px;
	height: 51px;
	width:120px;
}

.overflow{
	overflow: hidden;
	text-overflow: ellipsis;
}

.list_other span{
	position:relative;
	top:120px;
}

.list_bookname_a{
	height:150px;display:block;
}

#loading{
	position:absolute;top:170px;left:150px;z-index:2;
}

.float_left {
	float: left;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.button {
	display: block;
	background: #55b955;
	color: #ffffff;
	padding: 10px 0;
	text-align: center;
}

.genre {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	color: #ffffff;
	background: #cc3838;
	padding: 5px;
	cursor: pointer;
}

.genre.active {
	background: green;
}
.movie {
	background: #ffffff;
	margin-bottom: 20px;
	border-radius: 3%;
	padding: 4%;
}

.movie_poster {
	width: 30%
}

.movie_poster img{
	border-radius: 5%;
}

.movie_content {
	width: 60%;
	padding: 5%;
}

.movie_title {
	margin-top: 0;
}

.cast {
	margin-right: 2%;
}

.clearfix {
	clear: both;
}


@media (max-height:350px) { 
  footer {
    display: none;
  }
}
